[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Name=Solver
Icon=harbour-solver
Exec=sailfish-qml harbour-solver

[X-Sailjail]
Permissions=UserDirs
OrganizationName=de.poetaster
ApplicationName=Solver
